# Python files
__pycache__/

# Sublime Text files
*.sublime-project
*.sublime-workspace

# VSCode files
*.vscode/
*.code-workspace

# Python build files
dist/
build/
*.egg-info*

# Misc files
grimagents/history
logs/*
